:root {
    --grid-gap: 10px;
    --grid-line-offset: calc(var(--grid-gap) / 2 + 2px);
    --grid-line-thickness: 5px;
    --grid-line-color: black;
    --title-font-size: 3rem;
}

body {
    display: grid;
    grid-template-rows: 100px auto 25px;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

header {
    height: 100px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--title-font-size);
    width: 100vw;
    min-width: 272px;
    text-align: center;
}

main {
    justify-self: start;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#score-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 50px;
    justify-content: center;
    align-items: start;
}

@media screen and (max-width: 740px) {
    #score-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

#score-container-left {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#score-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-container {
    display: grid;
    width: auto;
    grid-template-areas:
        "img name"
        "score score";
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player-container > img {
    grid-area: img;
    width: 25px;
    height: 25px;
}

.player-name {
    grid-area: name;
}

.player-score {
    grid-area: score;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--title-font-size);
}


#player1-container {
    grid-area: player1;
}

#player2-container {
    grid-area: player2;
}

#active-player {
    grid-area: active;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#active-player > img {
    width: 25px;
    height: 25px;
}

#new-game-button {
    grid-area: new;
}

#gameboard-container-container {
   display:grid;
   justify-content: center;
}


#gameboard-container {
    position: relative;
    width: 50%;
}

#gameboard-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#gameboard {
    height: calc(min(75vh, 75vw) - 200px);
    width: calc(min(75vh, 75vw) - 200px);
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    overflow: hidden;
    gap: var(--grid-gap);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

@media screen and (max-width: 740px) {
    #gameboard {
        height: calc(min(75vh, 75vw));
        width: calc(min(75vh, 75vw));
    }
}
.space {
    position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    justify-content: center;
    align-items: center;
}

/* Both row and col lines */
.space::before,
.space::after {
    content: "";
    position: absolute;
    background-color: var(--grid-line-color);
    z-index: 1;
}

/* row lines */
.space::after {
    inline-size: 100vw;
    block-size: var(--grid-line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--grid-line-offset) * -1);
}

/* col lines */
.space::before {
    inline-size: var(--grid-line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--grid-line-offset) * -1);
}

.space-img {
    margin: auto;
    width: 100%;
    height: 100%;
}

/** New Game Dialog **/
#new-game-dialog > div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}